# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# Logs
logs/
*.log
replay_pid*.log

# Database & Backup
data/*.db
backup/

# OS
.DS_Store
Thumbs.db

# Compiled
*.class
*.jar
!src/main/resources/**/*.jar
